* {
    margin: 0;
}

body {
    background-color: rgb(68, 68, 68);
    color:rgb(68, 68, 68);
    font-family: 'Libre Baskerville', serif;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: midnightblue;
    color: white;
    list-style: none;
    padding: 1em;
    box-shadow: 0 0 15px rgba(207, 206, 206, 0.25);
}

li {
    margin-top: 1em;
}

li > a {
    text-decoration: none;
    color: white;
    padding: 1em;
    font-size: 2em;
}

img {
    width: 2em;
    height: 2em;
}

#img {
    padding-bottom: 0;
    margin-top: 0;
}

.header {
    margin: 1em;
    padding: 1em;
    width: 40%;
}

.gradient-border {
    background-image: linear-gradient(45deg, #ff8a00, #e52e71);
    border-radius: 16px;
    padding: .2em 1em;
    box-shadow: 0 0 15px rgba(207, 206, 206, 0.25);
    margin: .5em auto;
}

.border-card {
    background-color: white;
    width: 120%;
    border-radius: 8px;
    box-shadow: 4px 8px 15px rgba(207, 206, 206, 0.25);
    margin: 1em auto;
    padding: 2em;
    white-space: pre-line;
}

h1 {
    margin: auto auto .3em;
    text-align: left;
    font-family: 'Libre Baskerville', serif;
    font-size: 3em;
    font-weight: 700;
    text-decoration: underline;
}

.border-card > h3 {
    margin: auto;
    text-align: left;
    font-family: "libre baskerville",serif;
    font-style: italic;
}

.main-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
    margin: 1em;
    padding: 1em;
}

.grid-item {
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 4px 8px 15px rgba(207, 206, 206, 0.25);
    padding: 1em;
}

.grid-item > h2 {
    padding-bottom: 1em;
}

.grid-item > p {
    color: rgb(143, 143, 143);
}

footer {
    flex-shrink: 0;
}

.flex-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
    padding: 2em;
    color: #fff;
    background-color: midnightblue;
}

.flex-footer > h3 {
    font-family: "libre baskerville",serif;
    font-style: italic;
}

.email-form {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

#email {
    padding: .4em;
    font-size: 24px;
    border: 0;
}

.btn {
    background-image: linear-gradient(45deg, #ff8a00, #e52e71);
    color: #fff;
    border: 0;
    /* border-radius: 16px; */
    padding: .4em;
    font-size: 24px;
}

.btn:hover {
    cursor: pointer;
}

@media(max-width: 700px) {
    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    li {
        margin-bottom: 1em;
    }

    #img {
        margin-bottom: 0;
    }
    
    .header {
        margin: 1em;
        padding: 1em;
        width: 60%;
    }
    
    .gradient-border {
        background-image: linear-gradient(45deg, #ff8a00, #e52e71);
        border-radius: 16px;
        padding: .2em 1em;
        box-shadow: 0 0 15px rgba(207, 206, 206, 0.25);
        margin: .5em auto;
    }
    
    .border-card {
        background-color: white;
        width: 120%;
        border-radius: 8px;
        box-shadow: 4px 8px 15px rgba(207, 206, 206, 0.25);
        margin: 1em auto;
        padding: 2em;
        white-space: pre-line;
    }
    
    h1 {
        margin: auto auto .3em;
        text-align: left;
        font-family: 'Libre Baskerville', serif;
        font-size: 2em;
        font-weight: 700;
        text-decoration: underline;
    }

    .main-grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2em;
        margin: 1em;
        padding: 1em;
    }

    footer {
        flex-shrink: 0;
    }
    
    .flex-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;
        padding: 2em;
        color: #fff;
        background-color: midnightblue;
    }
}